@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 9vh;
    
}

.div-logo {
    padding-left: 60px;
    
}

.div-menu {
    height: 7vh;
    width: 12vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}



.section-banner {
   background-image: url("./imgs/banner.png");
   height: 40vh;
   background-position: center;
   background-size: contain;
}


.section-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    padding: 0 60px;
    border-bottom: 1px solid #A5A1A1;
}
.section-content h3 {
    text-transform: uppercase;
    font-size: 20px;
}

.section-content p {
    font-size: 18px;
}
.produtos {
    display: flex;
    justify-content: space-around;
    gap:1px;
    padding-top: 60px;
    flex-wrap: wrap;
    border-bottom: 1px solid #A5A1A1;
    border: #5CA760 solid 2px;
 
}

.card {
    height: 50vh;
    width: 25%;
    border: #5CA720 solid 2px;
    
}

.card h3 {
    font-size: 20px;
    padding: 12px 0 10px;
    font-weight: 400;
}

span {
    color: #5CA720;
    border-bottom: 1px #5CA720 solid;
    font-weight: 700;
  
}

.card p {
    font-size: 19px;
    padding: 12px 0 12px;
    
}

.card button {
    border-radius: 13px;
    background: #5CA720;
    width: 7vw;
    height: 5vh;
    color: #FFF5F5;
    border: none;
    font-weight: 700;
    font-size: 14px;
}
.card button:hover {
    cursor: pointer;
    background-color: #512200BF;

}

footer {
    background-color: #F9F9F9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 25vh;

}

.menu-footer {
    border: 2px solid red;
    padding-left: 45px;
   

}

.menu-footer a{
    text-decoration: none;
    color: #161616;
    font-size: 18px;
    font-weight: 700;
    padding-bottom: 55px;
}

.email-footer h3 { 
    font-size: 18px;
    padding-bottom: 13px;
}

.email-footer input {
    width: 19vw;
    height: 4vh;
    padding-left: 10px;
    border: 0.5px solid #D9D9D9;
    

} 
.email-footer button {
    text-align: center;
    height: 4vh;
    width: 6vw;
    background-color: #5CA720;
    color: #FFFFFF;
    border: none;
    border-radius: 0px 5px 5px 0px;
    position: relative;
    right: 3px;
   
}

li {
    list-style: none;
    padding-bottom: 7px;
}

.menu-social {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 25px;
}

