@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Kanit&family=Lato:wght@300;400;700;900&family=Roboto:wght@100;400;500&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

header {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    
}

.div-logo {
    padding-left: 60px;
    
}

.div-menu {
    height: 7vh;
    width: 13vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

.section-banner {
   background-image: url("./imgs/banner.png");
   height: 42vh;
   background-position: center;
   background-size: contain;
}

.section-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 9vh;
    padding: 0 60px;
    border-bottom: 1px solid #A5A1A1;
}

/*
.section-cards-products {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    border: 2px solid brown;
    max-width: 50%
}


 para corrigir dar nome para div e colocar outro para section section cards e div cards*/ 
main {
    border: 2px solid blueviolet;
    height: 100vh;
    width: 100vw;
}



.cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 50%;
    align-items: center;
    max-width: 50%
}